<body>
<nav id="navigation" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="">Hotel Abc</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=""> <a href="/nl/" class="home" >Home</a></li>
        <li class="dropdown"> <a href="javascript:void(0)" class="services dropdown-toggle"  data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Noodles</a></li>
            <li><a href="#">Nan</a></li>
            <li><a href="#">Chapathi</a></li>
            <li><a href="#">Thali</a></li>
          </ul>
        </li>
        <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" >
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
        <li class=""> <a href="/nl/about" class="about" >About</a></li>
        <li class=""><a href="/nl/contact" class="contact" >Contact</a></li>
      </ul>
      <a class="brand" style="margin: 0; float: right; text-align:center" href="#">
        <img src="\assets\img\1.png" width="17%" height="15%"  />
        
      </a>
    </div>
  </div>
</nav>
</body>
